<br />
<h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>

First name:<%= @user.first_name %><br />
Last name:<%= @user.last_name %><br />
Email:<%= @user.email_address %><br />

<strong><%= @user.first_name %>'s Videos</strong>
<%= @user.videos.each do |video| %>
	<%= link_to video.title, video %>
	<p><%= video.description %></P>
<% end %>
